# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#################
## ignore files 
##for cocos2d-x project
#################

#cocosDenshion
CocosDenshion

#Debug.win32
Debug.win32

#cocos2dx
cocos2dx
extensions
external
cocos2d

#proj dirs
proj.linux
proj.win8.1-universal
proj.win32
proj.android
proj.android-studio
proj.ios_mac

#Resources
#Resources
.cocos-project.json
CMakeLists.txt

#bin
bin